{
	order rate_limit before basicauth
}

:80 {
	reverse_proxy :4000

	rate_limit {
		zone dynamic {
			key    "{ http.request.remote.host }"
			events 100
			window 10s
		}
	}
	log {
		format console
	}
	uri strip_prefix /v0
}
